
body{
    background-color: rgb(90, 170, 223);
}

.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container-app{
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 20px;
}

span{
    display: block;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 100px;
    font-weight: bold;
}

.container-app{
    text-align: center;

}